<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <%= stylesheet_link_tag 'bootstrap-responsive.min' %>

    <%= stylesheet_link_tag 'style' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>" />
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div id="main" class="container-fluid">

      <div id="header" class="row-fluid">
        <div id="plus" class="span4">
          <br />
          <br />
          <br />
          <span>+</span>
          <br />
          <br />
        </div>
        <div id="create" class="span4">
          <br />
          <br />
          <br />
          <span>CREA</span>
          <br />
          <br />
          <br />
        </div>
        <div id="log" class="span4">
          <br />
          <br />
          <br />
          <span>LOG</span>
          <br />
          <br />
          <br />
        </div>
      </div><!-- header -->

      <div id="subheader" class="row-fluid">
        <div id="carrousel" class="span6">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>CARROUSEL</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="xxx" class="span6">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>XXX</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- subheader -->

      <div id="middle" class="row-fluid">
        <div id="middle-main" class="span12">
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>¿?</span>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- middle -->
      
      <div id="data" class="row-fluid">
        <div id="hot" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>HOT</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="activity" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>ACT</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="community" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>COMMU</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- data -->
      
      <div id="users" class="row-fluid">
        <div id="activism" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>ACTIVISM</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="action" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>ACTION</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="geo" class="span4">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>GEO</span>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- users -->

      <div id="companies" class="row-fluid">
        <div id="companies-data" class="span12">
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>EMPRESAS</span>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- companies -->
      
      <div id="video" class="row-fluid">
        <div id="video-data" class="span12">
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>VIDEO</span>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- video -->
      
      <div id="footer" class="row-fluid">
        <div id="footer-data" class="span12">
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>FOOTER</span>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div><!-- video -->

    </div><!-- main -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'script' %>
  </body>
</html>

